PlotBender.code-workspace
package-lock.json

*apikey*

.vscode/
node_modules/
build/
.DS_Store
botStorage.json
botCaches.json

!node_modules/ent42/
!node_modules/ent42/*
!node_modules/ent42/telegramBot.js
!node_modules/ent42/contextCommands.js
!node_modules/ent42/license.js

licenseStore.json
botLicenses.json
