.vscode/
.DS_Store
build/

db/

*apikey*
aiFactoryStorage.json
aiFactoryStorage.testing.json

PlotBender.code-workspace
package-lock.json

node_modules/.bin
node_modules/@ampproject
node_modules/@babel
node_modules/@bcoe
node_modules/@derhuerst
node_modules/@huggingface
node_modules/@istanbuljs
node_modules/@jest
node_modules/@jridgewell
node_modules/@sinclair
node_modules/@sinonjs
node_modules/@types
node_modules/agent-base
node_modules/ajv
node_modules/ansi-escapes
node_modules/ansi-regex
node_modules/ansi-styles
node_modules/anymatch
node_modules/argparse
node_modules/array-buffer-byte-length
node_modules/array.prototype.findindex
node_modules/asn1
node_modules/assert-plus
node_modules/async
node_modules/asynckit
node_modules/available-typed-arrays
node_modules/aws-sign2
node_modules/aws4
node_modules/axios
node_modules/babel-jest
node_modules/babel-plugin-istanbul
node_modules/babel-plugin-jest-hoist
node_modules/babel-preset-current-node-syntax
node_modules/babel-preset-jest
node_modules/balanced-match
node_modules/bcrypt-pbkdf
node_modules/bl
node_modules/bluebird
node_modules/brace-expansion
node_modules/braces
node_modules/browserslist
node_modules/bser
node_modules/buffer-from
node_modules/call-bind
node_modules/callsites
node_modules/camelcase
node_modules/caniuse-lite
node_modules/caseless
node_modules/chalk
node_modules/char-regex
node_modules/ci-info
node_modules/cjs-module-lexer
node_modules/cliui
node_modules/co
node_modules/collect-v8-coverage
node_modules/color-convert
node_modules/color-name
node_modules/colors
node_modules/combined-stream
node_modules/commander
node_modules/concat-map
node_modules/concat-stream
node_modules/convert-source-map
node_modules/core-util-is
node_modules/cross-spawn
node_modules/dashdash
node_modules/debug
node_modules/dedent
node_modules/deepmerge
node_modules/define-properties
node_modules/delayed-stream
node_modules/detect-newline
node_modules/diff-sequences
node_modules/ecc-jsbn
node_modules/electron-to-chromium
node_modules/emittery
node_modules/emoji-regex
node_modules/end-of-stream
node_modules/env-paths
node_modules/error-ex
node_modules/es-abstract
node_modules/es-set-tostringtag
node_modules/es-shim-unscopables
node_modules/es-to-primitive
node_modules/escalade
node_modules/escape-string-regexp
node_modules/esprima
node_modules/eventemitter3
node_modules/execa
node_modules/exit
node_modules/expect
node_modules/extend
node_modules/extsprintf
node_modules/fast-deep-equal
node_modules/fast-json-stable-stringify
node_modules/fb-watchman
node_modules/ffmpeg-static
node_modules/ffprobe-static
node_modules/file-type
node_modules/fill-range
node_modules/find-up
node_modules/fluent-ffmpeg
node_modules/follow-redirects
node_modules/for-each
node_modules/forever-agent
node_modules/form-data
node_modules/fs.realpath
node_modules/fsevents
node_modules/function-bind
node_modules/function.prototype.name
node_modules/functions-have-names
node_modules/gensync
node_modules/get-caller-file
node_modules/get-intrinsic
node_modules/get-package-type
node_modules/get-stream
node_modules/get-symbol-description
node_modules/getpass
node_modules/glob
node_modules/globals
node_modules/globalthis
node_modules/gopd
node_modules/gpt-3-encoder
node_modules/graceful-fs
node_modules/har-schema
node_modules/har-validator
node_modules/has
node_modules/has-bigints
node_modules/has-flag
node_modules/has-property-descriptors
node_modules/has-proto
node_modules/has-symbols
node_modules/has-tostringtag
node_modules/html-escaper
node_modules/http-response-object
node_modules/http-signature
node_modules/https-proxy-agent
node_modules/human-signals
node_modules/import-local
node_modules/imurmurhash
node_modules/inflight
node_modules/inherits
node_modules/internal-slot
node_modules/is-array-buffer
node_modules/is-arrayish
node_modules/is-bigint
node_modules/is-boolean-object
node_modules/is-callable
node_modules/is-core-module
node_modules/is-date-object
node_modules/is-fullwidth-code-point
node_modules/is-generator-fn
node_modules/is-negative-zero
node_modules/is-number
node_modules/is-number-object
node_modules/is-regex
node_modules/is-shared-array-buffer
node_modules/is-stream
node_modules/is-string
node_modules/is-symbol
node_modules/is-typed-array
node_modules/is-typedarray
node_modules/is-weakref
node_modules/isarray
node_modules/isexe
node_modules/isstream
node_modules/istanbul-lib-coverage
node_modules/istanbul-lib-instrument
node_modules/istanbul-lib-report
node_modules/istanbul-lib-source-maps
node_modules/istanbul-reports
node_modules/jest
node_modules/jest-changed-files
node_modules/jest-circus
node_modules/jest-cli
node_modules/jest-config
node_modules/jest-diff
node_modules/jest-docblock
node_modules/jest-each
node_modules/jest-environment-node
node_modules/jest-get-type
node_modules/jest-haste-map
node_modules/jest-leak-detector
node_modules/jest-matcher-utils
node_modules/jest-message-util
node_modules/jest-mock
node_modules/jest-pnp-resolver
node_modules/jest-regex-util
node_modules/jest-resolve
node_modules/jest-resolve-dependencies
node_modules/jest-runner
node_modules/jest-runtime
node_modules/jest-snapshot
node_modules/jest-util
node_modules/jest-validate
node_modules/jest-watcher
node_modules/jest-worker
node_modules/js-tokens
node_modules/js-yaml
node_modules/jsbn
node_modules/jsesc
node_modules/json-parse-even-better-errors
node_modules/json-schema
node_modules/json-schema-traverse
node_modules/json-stringify-safe
node_modules/json5
node_modules/jsprim
node_modules/kleur
node_modules/leven
node_modules/lines-and-columns
node_modules/locate-path
node_modules/lodash
node_modules/lru-cache
node_modules/make-dir
node_modules/makeerror
node_modules/merge-stream
node_modules/micromatch
node_modules/mime
node_modules/mime-db
node_modules/mime-types
node_modules/mimic-fn
node_modules/minimatch
node_modules/ms
node_modules/natural-compare
node_modules/node-int64
node_modules/node-releases
node_modules/node-telegram-bot-api
node_modules/normalize-path
node_modules/npm-run-path
node_modules/oauth-sign
node_modules/object-inspect
node_modules/object-keys
node_modules/object.assign
node_modules/once
node_modules/onetime
node_modules/openai
node_modules/p-limit
node_modules/p-locate
node_modules/p-try
node_modules/parse-cache-control
node_modules/parse-json
node_modules/path-exists
node_modules/path-is-absolute
node_modules/path-key
node_modules/path-parse
node_modules/performance-now
node_modules/picocolors
node_modules/picomatch
node_modules/pirates
node_modules/pkg-dir
node_modules/pretty-format
node_modules/process-nextick-args
node_modules/progress
node_modules/prompts
node_modules/psl
node_modules/pump
node_modules/punycode
node_modules/pure-rand
node_modules/qs
node_modules/react-is
node_modules/readable-stream
node_modules/regexp.prototype.flags
node_modules/request
node_modules/request-promise
node_modules/request-promise-core
node_modules/require-directory
node_modules/resolve
node_modules/resolve-cwd
node_modules/resolve-from
node_modules/resolve.exports
node_modules/safe-buffer
node_modules/safe-regex-test
node_modules/safer-buffer
node_modules/semver
node_modules/shebang-command
node_modules/shebang-regex
node_modules/side-channel
node_modules/signal-exit
node_modules/sisteransi
node_modules/slash
node_modules/source-map
node_modules/source-map-support
node_modules/sprintf-js
node_modules/sshpk
node_modules/stack-utils
node_modules/stealthy-require
node_modules/string_decoder
node_modules/string-length
node_modules/string-width
node_modules/string.prototype.trim
node_modules/string.prototype.trimend
node_modules/string.prototype.trimstart
node_modules/strip-ansi
node_modules/strip-bom
node_modules/strip-final-newline
node_modules/strip-json-comments
node_modules/supports-color
node_modules/supports-preserve-symlinks-flag
node_modules/test-exclude
node_modules/tmpl
node_modules/to-fast-properties
node_modules/to-regex-range
node_modules/tough-cookie
node_modules/tunnel-agent
node_modules/tweetnacl
node_modules/type-detect
node_modules/type-fest
node_modules/typed-array-length
node_modules/typedarray
node_modules/unbox-primitive
node_modules/update-browserslist-db
node_modules/uri-js
node_modules/util-deprecate
node_modules/uuid
node_modules/v8-to-istanbul
node_modules/verror
node_modules/walker
node_modules/which
node_modules/which-boxed-primitive
node_modules/which-typed-array
node_modules/wrap-ansi
node_modules/wrappy
node_modules/write-file-atomic
node_modules/y18n
node_modules/yallist
node_modules/yargs
node_modules/yargs-parser
node_modules/yocto-queue
node_modules/.package-lock.json

